@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

.contact-info {
    @include m.reset-list;

    .icons {
        svg {
            font-size: 1.2rem;
        }
    }

    a {
        color: v.$color1;

        &:hover {
            color: v.$color2;
        }
    }
}
